* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0px 80px;
  max-width: 1500px;
  padding: 5px;
}

nav {
  background-color: rgb(155, 155, 155);
  position: fixed;
  width: 100%;
}
nav .navbar .blok1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
nav .navbar .blok1 .icone {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 20px;
}
nav .navbar .blok1 .icone .gap1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
nav .navbar .blok1 .icone .gap1 i {
  font-size: 12px;
}
nav .navbar .blok1 .icone .gap2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav .navbar .blok1 .icone .gap2 p {
  font-size: 12px;
}
nav .navbar .blok1 .home {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(233, 224, 224);
  font-size: 15px;
}
nav .navbar .blok1 .home .class {
  color: white;
}
nav .navbar .blok1 .home #boxen {
  display: none;
  color: white;
}
nav .navbar .blok1 .home .list {
  display: flex;
  justify-content: space-between;
}
nav .navbar .blok1 .home ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  color: white;
}
nav .navbar .blok1 .home ul i {
  margin-left: 5px;
  font-size: 15px;
}

#box {
  background-color: rgb(121, 119, 119);
  width: 100%;
}

.blok {
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.blok .text p {
  color: white;
  font-size: 20px;
}
.blok .text h4 {
  color: white;
  font-size: 50px;
  padding: 20px 0px 20px 0px;
}
.blok .btn .button {
  padding: 15px;
  width: 200px;
  background-color: rgb(196, 196, 67);
  border: none;
  color: white;
}
.blok .btn .button:hover {
  background-color: black;
  border: 2px solid rgb(189, 189, 165);
  color: yellow;
  transition: all 0.3s ease;
}

#id {
  background-color: white;
  width: 100%;
}

.bottom1 {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bottom1 .map1 {
  padding: 40px;
  width: 100%;
  margin-top: 40px;
}
.bottom1 .map1 p {
  color: rgb(141, 139, 139);
  text-align: center;
  font-size: 16px;
}
.bottom1 .map1 h3 {
  text-align: center;
  font-size: 40px;
}
.bottom1 .map2 {
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom1 .map2 > div {
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.bottom1 .map2 > div:hover {
  background-color: rgb(233, 212, 28);
}
.bottom1 .map2 .main1 {
  height: 380px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom1 .map2 .main1 .class1 {
  width: 100%;
}
.bottom1 .map2 .main1 .class1 img {
  width: 100%;
}
.bottom1 .map2 .main1 .class2 {
  height: 160px;
  width: 270px;
}
.bottom1 .map2 .main1 .class2 h4 {
  font-size: 20px;
}
.bottom1 .map2 .main1 .class2 p {
  color: #929090;
  margin-top: 20px;
}
.bottom1 .map2 .main2 {
  height: 380px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom1 .map2 .main2 .class1 {
  width: 100%;
}
.bottom1 .map2 .main2 .class1 img {
  width: 100%;
}
.bottom1 .map2 .main2 .class2 {
  height: 160px;
  width: 270px;
}
.bottom1 .map2 .main2 .class2 h4 {
  font-size: 20px;
}
.bottom1 .map2 .main2 .class2 p {
  color: #929090;
  margin-top: 20px;
}
.bottom1 .map2 .main3 {
  height: 380px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom1 .map2 .main3 .class1 {
  width: 100%;
}
.bottom1 .map2 .main3 .class1 img {
  width: 100%;
}
.bottom1 .map2 .main3 .class2 {
  height: 160px;
  width: 270px;
}
.bottom1 .map2 .main3 .class2 h4 {
  font-size: 20px;
}
.bottom1 .map2 .main3 .class2 p {
  color: #929090;
  margin-top: 20px;
}

#box1 {
  width: 100%;
  background-color: white;
}

.last {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.last .lasted1 {
  width: 100%;
  padding: 50px;
  background-color: rgb(255, 243, 248);
  text-align: center;
}
.last .lasted1 h3 {
  font-size: 30px;
}
.last .lasted1 p {
  font-size: 16px;
  color: rgb(126, 125, 125);
}
.last .lasted2 {
  width: 100%;
  padding: 20px;
  background-color: rgb(250, 249, 249);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.last .lasted2 .meta1 {
  width: 250px;
  height: 400px;
  background-color: white;
}
.last .lasted2 .meta2 {
  width: 250px;
  height: 400px;
  background-color: white;
}
.last .lasted2 .meta3 {
  width: 250px;
  height: 400px;
  background-color: white;
}
.last .lasted2 .meta4 {
  width: 250px;
  height: 400px;
  background-color: white;
}

@media screen and (max-width: 921px) {
  nav .navbar .blok1 .home .list {
    display: none;
  }
}
@media screen and (max-width: 921px) {
  nav .container .navbar .blok1 #boxen {
    display: block;
  }
  #id .bottom1 .map2 {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */